<div class="toolbar">
  <div class="start">
    <button (click)="toggleColumnDef();" >Toggle Selection Mode</button>
  </div>
  <div class="end">
    <span>Selected: {{selectedNodes?.length}} </span>
  </div>

</div>
<ag-grid-angular
    #agGrid
    *ngIf="flag"
    style="width: 66%;
    height: 600px;"
    class="ag-theme-balham"
    rowSelection='multiple'
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [sideBar]="sideBar"
    [pagination]="true"
    [paginationPageSize]="5"
    (selectionChanged)="onSelectionChanged($event)"
    [enableRangeSelection]="true"
    [allowContextMenuWithControlKey]="true"
    [getContextMenuItems]="getContextMenuItems"
    [getRowHeight]="getRowHeight"
    >
</ag-grid-angular>

<!-- <ag-grid-angular
    #agGrid
    *ngIf="flag"
    style="width: 57%;
    height: 600px;
    margin: 3% 0% 0 20%;"
    class="ag-theme-balham"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [getRowHeight]="getRowHeight"
    >
</ag-grid-angular> -->

<router-outlet></router-outlet>